<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853266436859-ekg5osj683jv0vlajuoljpq3uuqthpqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853266436859-ekg5osj683jv0vlajuoljpq3uuqthpqc</string>
	<key>API_KEY</key>
	<string>AIzaSyDbUrBw7PPzQ6irKPjEGUD62shtLcYHHj0</string>
	<key>GCM_SENDER_ID</key>
	<string>853266436859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xsallus.helper</string>
	<key>PROJECT_ID</key>
	<string>rocket-helper</string>
	<key>STORAGE_BUCKET</key>
	<string>rocket-helper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853266436859:ios:03d0d06bf2b8946c94965e</string>
</dict>
</plist>